examples/7 pobranie listy oczekujacych wizyt/plik.wsdl

<wsdl:definitions xmlns:tns="http://127.0.0.1/dux/erecepcja/instancje/soap/" targetNamespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:message name="zalogujSoapIn">
        <wsdl:part name="login" type="s:string">
            <s:documentation>
                The method name
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="haslo" type="tns:array">
            <s:documentation>
                The parameters
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="zalogujSoapOut">
        <wsdl:part name="return" type="s:string">
            <s:documentation>
                zwraca id sesji
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="zalogujPrzezSidSoapIn">
        <wsdl:part name="sid" type="s:string">
            <s:documentation>
                session id
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="zalogujPrzezSidSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                powiodlo sie lub nie
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pobierzStuktureStanowiskSoapIn">
        <wsdl:part name="id" type="s:string">
            <s:documentation>
                id stanowiska od ktorego chcemy zaczac pobieranie struktury
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pobierzStuktureStanowiskSoapOut">
        <wsdl:part name="return" type="tns:json">
            <s:documentation>
                struktura stanowisk
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pobierzListeTerminowSoapIn">
        <wsdl:part name="idStanowiska" type="s:string">
            <s:documentation>
                id stanowiska z ktorego chcemy pobrac liste wolnych terminow
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="idUslugi" type="s:string">
            <s:documentation>
                id uslugi na ktora chcemy umowic klienta
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="odDaty" type="s:string">
            <s:documentation>
                = 'now' od jakiej daty skrypt ma zaczac szukac?
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="iloscDni" type="s:string">
            <s:documentation>
                = 30 przez ile dni ma szukac wolnych terminow
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pobierzListeTerminowSoapOut">
        <wsdl:part name="return" type="tns:json">
            <s:documentation>
                wolne terminy
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="autoryzacjaKlientaSoapIn">
        <wsdl:part name="imieKlienta" type="s:string">
            <s:documentation>
                = ''
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="nazwiskoKlienta" type="s:string">
            <s:documentation>
                = ''
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="telefonKlienta" type="s:string">
            <s:documentation>
                = ''
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="peselKlienta" type="s:string">
            <s:documentation>
                = ''
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="emailKlienta" type="s:string">
            <s:documentation>
                = ''
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="wymaganyKodSms" type="s:string">
            <s:documentation>
                = 0
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="autoryzacjaKlientaSoapOut">
        <wsdl:part name="return" type="tns:json">
            <s:documentation>
                kod wyniku
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="kodAutoryzacyjnyKlientaSoapIn">
        <wsdl:part name="kod" type="s:string" />
    </wsdl:message>
    <wsdl:message name="kodAutoryzacyjnyKlientaSoapOut">
        <wsdl:part name="return" type="s:boolean">
            <s:documentation>
                udalo sie?
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="zapiszKlientaNaTerminSoapIn">
        <wsdl:part name="idStanowiska" type="s:string">
            <s:documentation>
                id stanowiska do ktorego chcemy zapisac klienta
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="idUslugi" type="s:string">
            <s:documentation>
                id uslugi na ktora chcemy zapisac klienta
            </s:documentation>
        </wsdl:part>
        <wsdl:part name="dateTime" type="s:string">
            <s:documentation>
                data w formacie 'YYYY-MM-DD hh:mm:ss'
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="zapiszKlientaNaTerminSoapOut">
        <wsdl:part name="return" type="tns:json">
            <s:documentation>
                kod powodzenia 0 - powiodlo sie, > 0 - cos poszlo nie tak
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="zmienSesjeSoapIn">
        <wsdl:part name="nazwa" type="s:string" />
        <wsdl:part name="wartosc" type="s:string" />
    </wsdl:message>
    <wsdl:message name="zmienSesjeSoapOut">
        <wsdl:part name="return" type="tns:json" />
    </wsdl:message>
    <wsdl:message name="pobierzSesjeSoapIn">
        <wsdl:part name="a" type="s:string" />
    </wsdl:message>
    <wsdl:message name="pobierzSesjeSoapOut">
        <wsdl:part name="return" type="tns:mixed" />
    </wsdl:message>
    <wsdl:message name="pobierzListeRezerwacjiStanowiskaSoapIn">
        <wsdl:part name="id" type="s:integer" />
        <wsdl:part name="date" type="s:string">
            <s:documentation>
                w formacie 'YYYY-MM-DD'
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pobierzListeRezerwacjiStanowiskaSoapOut">
        <wsdl:part name="return" type="tns:json" />
    </wsdl:message>
    <wsdl:message name="pobierzListeUslugStanowiskaSoapIn">
        <wsdl:part name="id" type="s:integer" />
    </wsdl:message>
    <wsdl:message name="pobierzListeUslugStanowiskaSoapOut">
        <wsdl:part name="return" type="tns:json" />
    </wsdl:message>
    <wsdl:message name="odwolajRezerwacjeSoapIn">
        <wsdl:part name="id" type="s:integer" />
    </wsdl:message>
    <wsdl:message name="odwolajRezerwacjeSoapOut">
        <wsdl:part name="return" type="tns:json">
            <s:documentation>
                kod powodzenia
            </s:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DoSoapSoap">
        <wsdl:operation name="zaloguj" parameterOrder="login haslo">
            <wsdl:documentation>
                Zaloguj
            </wsdl:documentation>
            <wsdl:input message="tns:zalogujSoapIn" />
            <wsdl:output message="tns:zalogujSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="zalogujPrzezSid">
            <wsdl:documentation>
                zalogujPrzezSid
            </wsdl:documentation>
            <wsdl:input message="tns:zalogujPrzezSidSoapIn" />
            <wsdl:output message="tns:zalogujPrzezSidSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="pobierzStuktureStanowisk">
            <wsdl:documentation>
                pobierzStuktureStanowisk
            </wsdl:documentation>
            <wsdl:input message="tns:pobierzStuktureStanowiskSoapIn" />
            <wsdl:output message="tns:pobierzStuktureStanowiskSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="pobierzListeTerminow" parameterOrder="idStanowiska idUslugi odDaty iloscDni">
            <wsdl:documentation>
                pobierzListeTerminow
            </wsdl:documentation>
            <wsdl:input message="tns:pobierzListeTerminowSoapIn" />
            <wsdl:output message="tns:pobierzListeTerminowSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="autoryzacjaKlienta" parameterOrder="imieKlienta nazwiskoKlienta telefonKlienta peselKlienta emailKlienta wymaganyKodSms">
            <wsdl:documentation>
                autoryzacjaKlienta
            </wsdl:documentation>
            <wsdl:input message="tns:autoryzacjaKlientaSoapIn" />
            <wsdl:output message="tns:autoryzacjaKlientaSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="kodAutoryzacyjnyKlienta">
            <wsdl:documentation>
                kodAutoryzacyjnyKlienta
            </wsdl:documentation>
            <wsdl:input message="tns:kodAutoryzacyjnyKlientaSoapIn" />
            <wsdl:output message="tns:kodAutoryzacyjnyKlientaSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="zapiszKlientaNaTermin" parameterOrder="idStanowiska idUslugi dateTime">
            <wsdl:documentation>
                zapiszKlientaNaTermin
            </wsdl:documentation>
            <wsdl:input message="tns:zapiszKlientaNaTerminSoapIn" />
            <wsdl:output message="tns:zapiszKlientaNaTerminSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="zmienSesje" parameterOrder="nazwa wartosc">
            <wsdl:documentation>
                zmienSesje
            </wsdl:documentation>
            <wsdl:input message="tns:zmienSesjeSoapIn" />
            <wsdl:output message="tns:zmienSesjeSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="pobierzSesje">
            <wsdl:documentation>
                pobierzSesje
            </wsdl:documentation>
            <wsdl:input message="tns:pobierzSesjeSoapIn" />
            <wsdl:output message="tns:pobierzSesjeSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="pobierzListeRezerwacjiStanowiska" parameterOrder="id date">
            <wsdl:documentation>
                pobierzListeRezerwacjiStanowiska
            </wsdl:documentation>
            <wsdl:input message="tns:pobierzListeRezerwacjiStanowiskaSoapIn" />
            <wsdl:output message="tns:pobierzListeRezerwacjiStanowiskaSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="pobierzListeUslugStanowiska">
            <wsdl:documentation>
                pobierzListeUslugStanowiska
            </wsdl:documentation>
            <wsdl:input message="tns:pobierzListeUslugStanowiskaSoapIn" />
            <wsdl:output message="tns:pobierzListeUslugStanowiskaSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="odwolajRezerwacje">
            <wsdl:documentation>
                odwolajRezerwacje
            </wsdl:documentation>
            <wsdl:input message="tns:odwolajRezerwacjeSoapIn" />
            <wsdl:output message="tns:odwolajRezerwacjeSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DoSoapSoap" type="tns:DoSoapSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <wsdl:operation name="zaloguj">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/zaloguj" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="login haslo" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="zalogujPrzezSid">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/zalogujPrzezSid" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="sid" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pobierzStuktureStanowisk">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/pobierzStuktureStanowisk" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="id" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pobierzListeTerminow">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/pobierzListeTerminow" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="idStanowiska idUslugi odDaty iloscDni" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="autoryzacjaKlienta">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/autoryzacjaKlienta" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="imieKlienta nazwiskoKlienta telefonKlienta peselKlienta emailKlienta wymaganyKodSms" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="kodAutoryzacyjnyKlienta">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/kodAutoryzacyjnyKlienta" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="kod" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="zapiszKlientaNaTermin">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/zapiszKlientaNaTermin" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="idStanowiska idUslugi dateTime" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="zmienSesje">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/zmienSesje" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="nazwa wartosc" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pobierzSesje">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/pobierzSesje" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="a" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pobierzListeRezerwacjiStanowiska">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/pobierzListeRezerwacjiStanowiska" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="id date" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pobierzListeUslugStanowiska">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/pobierzListeUslugStanowiska" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="id" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="odwolajRezerwacje">
            <soap:operation soapAction="http://127.0.0.1/dux/erecepcja/instancje/soap/odwolajRezerwacje" />
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="id" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dux/erecepcja/instancje/soap/" parts="return" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DoSoap">
        <wsdl:port name="DoSoapSoap" binding="tns:DoSoapSoap">
            <soap:address location="http://127.0.0.1/dux/erecepcja/instancje/soap/index.php" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
